@{
    ViewBag.Title = "Contact";
}
<h1>Esta Pagina fue programada por Joan Pichardo y Kail Caceres.</h1>

<style type="text/css">
    .box {
        background: white;
        border: 1px solid #edeeee;
        border-radius: 3px;
        text-align: center;
        max-width: 100%;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
        margin-left: 100px;
        margin-top: 20px;
        margin-right: 200px;
        font-family: Montserrat;
    }
</style>
<div class="box">
    <h2>Sobre Nosotros</h2>
    <p>Kail Altagracia Caceres Lopez.</p>
    <p>Estudiante de Desarrollo de Software.</p>
    <p>Matricula: 2017-5605.</p>
    <p> Dominicana.</p>
    <br />
    <img src="~/imagen/yo.jpg" style="width:50%; margin-left:50px;" />

    <br />
    <p>Joan Pichardo.</p>
    <p>Estudiante de Desarrollo de Software.</p>
    <p>Matricula: 2017-5286.</p>
    <p> Dominicano.</p>
    <br />
    <img src="~/imagen/joan.jpg" style="width:50%; margin-left:50px;" />
</div>

