@{
    ViewBag.Title = "Home Page";
    List<SelectListItem> item = (List<SelectListItem>) ViewBag.item;
}


<div class="jumbotron">
   <h1>Consultar Materias</h1>
    <p> Selecciona el estudiante</p>
    <br />
    @*@Html.DropDownList("Datos",item,"Selecciona un estudiante");*@

</div>